## Lists and Tuple <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

<b>AG D. Evangelista</b><br>
Comptech Student T09

## Iterating Over a List <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

In [38]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print(n)

2
4
6
8
10

In [39]:
# List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

In [40]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [41]:
# key value pair
employee = {'name':['AG','Ashe'],
            'position': ['Engineer', 'Gamer'],
            'salary': [100000, 10000]
}

for key in employee:
    print(key)

name
position
salary

In [42]:
employee['salary']

[100000, 10000]

In [43]:
for value in employee.values():
    print(value)

['AG', 'Ashe']
['Engineer', 'Gamer']
[100000, 10000]

## Lambda Function <hr style="border:2.5px solid rgba(255, 0, 0, 1)"></hr>

In [44]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [45]:
y = 4

x = (lambda x :
     2*x)(x)

In [46]:
type(x)

list